<div ckass="container">
  <div class="row">
    <h4>ジャンル一覧・追加</h4>
    <div class="col-md-8">
      
      <%= render 'form', genre: @genre %>

      <table class="table">
        <thead>
          <tr>
            <th>ジャンル名</th>
            <th></th>
          </tr>
        </thead>
        <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
            <td><%= link_to '編集する', edit_admin_item_genre_path(genre), class:"btn btn-success" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>